[Desktop Entry]
Name=Code Dark Study Tool
Comment=Code Dark Study Tool
Exec=/usr/bin/code_dark_study_tool
Icon=/usr/share/icons/Adwaita/symbolic/legacy/text-editor-symbolic.svg
Terminal=false
Type=Application

