[Desktop Entry]
Name=About Code Dark
Comment=About Code Dark Panel
Exec=/usr/bin/about_code_dark
Icon=/usr/share/icons/Adwaita/symbolic/legacy/user-info-symbolic.svg
Terminal=false
Type=Application

