[Desktop Entry]
Name=Code Dark Configurator
Comment=Code Dark System Parameters Tool
Exec=/usr/bin/code_dark_configurator
Icon=/usr/share/icons/Adwaita/symbolic/categories/preferences-system-symbolic.svg
Terminal=false
Type=Application

