Package: cdpw
Version: %VERSION%
Section: base
Priority: optional
Architecture: all
Depends: python3-tk, orthanc, orthanc-dicomweb, orthanc-imagej, orthanc-webviewer, orthanc-gdcm, curl, cups-bsd, enscript, firmware-nvidia-graphics, firmware-amd-graphics, lsmount
Maintainer: Matthew Jacob <lydianconcepts@gmail.com>
Description: Kaiser Code Dark PACS Workstation
 This implements on a single filesystem an Orthanc Server and various
 policy settings for the Kaiser Code Dark PACS project.
