#
# Check for the Orthanc secure data volume being mounted
# or otherwise the database and reports directories
# are available.
#
[Unit]
Description=CDW configuration agent
Requires=orthanc_datamount_checker.service
After=orthanc_datamount_checker.service, NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/CDW_Configure
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
