[Desktop Entry]
Name=Set System Time Helper
Comment=Helper for Orthanc to Set System Time with
Exec=/usr/bin/SetSystemTime
Icon=/usr/share/icons/Humanity/apps/16/seahorse.png
Terminal=false
Type=Application
