[Unit]
Description=Mount storage for kp-report
DefaultDependencies=no
Before=orthanc.service
Wants=network-pre.target local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cdw_mounter mount unknown

[Install]
WantedBy=multi-user.target
